@import "general";
@import "footer";
@import "nav";


/* comienzo mobil first  de 320 - 500*/

//**  Mixin**//

@mixin space ($letter-spacing, $word-spacing, $font-size, $line-height){
    letter-spacing: $letter-spacing;
    word-spacing: $word-spacing;
    font-size: $font-size;
    line-height: $line-height;
}

ol li{
    list-style-type: none;
    font-family:'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    @include space(1px, 2px, 15px, 17px);
    color: black;
    margin: 15px 15px;
}

p{
    width: 90%;
    margin: 15px 15px;
}
.texto{ 
    font-family:'Barlow', sans-serif;;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    @include space (1px, 2px, 20px, 25px);
    margin: 20px 20px;
    color: black;
}


/*extend para los textos principales*/
.palabra{
    font-family: 'Secular One', sans-serif;
    text-align: center;
    color: rgb(170, 15, 162);
    margin: 15px 15px;
}

.subtitulo{
    @extend .palabra;
    @include space(2px, 3px, 35px, 40px);
    
}

h3{
    @extend .palabra;
    @include space(2px, 3px, 25px, 30px);      
}

.ciudad {
    @extend .palabra;
    @include space(2px, 3px, 25px, 30px);
    
}
.listado{
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;

}
.listado-viaje{
    @extend .listado;
    grid-area: viaje;
}

.listado-libro{
    @extend .listado;
    grid-area: libro;
}

.introduccion{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    grid-area: introduccion;
}


.nombre{
    @extend .palabra;
    text-align: center;
    font-family:'Shadows Into Light', cursive;
    @include space(2px, 3px, 45px, 50px) 
}


body{
    background-color: rgb(238, 218, 177);   
    width: 100%;
}

.aside{
    background-color: white;
    margin: 15px 10px 15px;
    grid-area: recomendado;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}


.logo{
    padding: 10px;
    height: 25%;
    width: 100px;   
}

.icono{
    padding: 15px;
    width: 40px;
    height: 40px;
}

.cuadro{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 25px;
    border: 10px solid white;
}

.gastos, .moneda, .hotel, .comida, .movilidad, .datos, .paseos, .medicos, .regalos{
    @extend .cuadro;
}

.valija, .grupo, .estacion, .control, .bultos, .trasbordo{ 
    @extend .cuadro;
}
.destino, .spain, .grecia, .uk, .neederlands, .belgica, .alemania, .hangugo, .japon{
    @extend .cuadro
}


/*iconos moverse */

.icono:hover{
    transform:translate(100px);
    transition-property: all;
    transition-duration: 6s;
    }

.carita{
    height: 50px;
    width: 50x;
    margin: 10px;
}

/* jugamos un poco con la llamita */
.carita:hover{
    transform: translate(100px);
    transition-duration: 8s;
    transition-property: all;
}

.paisaje{
    margin-top: 20px;
    height: 350px;
    width: 300px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logitos{
    height: 50px;
    width: 50px;
}


.presentacion{
    margin: 10px;
    height: 70%;
    width: 100%;
}

/* formulario para que envíen tips */
.container{
    margin: 25px 25px;
    border: 10px solid white;
    background-color: blanchedalmond;
}

label{
    font-family:'Barlow', sans-serif;;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    @include space (1px, 2px, 20px, 25px);
    margin: 20px 15px;
    color: black;
}
    .gastos{
        grid-area: gastos;
    }
    .moneda{
        grid-area: moneda;
    }
    .hotel{
        grid-area: hotel;
    }
    .comida{
        grid-area: comida;
    }
    .movilidad{
        grid-area: movilidad;
    }
    .datos{
        grid-area: datos;
    }
    .paseos{
        grid-area: paseos;
    }
    .medicos{
        grid-area: medicos;
    }
    .regalos{
        grid-area: regalos;
    }

    .valija{
        grid-area: valija;
    }
    .grupo{
        grid-area: grupo;
    }
    .estacion{
        grid-area: estacion;
    }
    .control{
        grid-area: control;
    }
    .bultos{
        grid-area: bultos;
    }
    .trasbordo{
        grid-area: trasbordo;
    }

.grilla{
    display: grid;
    width: 100%;
    gap: 10px;
    margin: 15px 10px 15px 10px;
    grid-template-areas: 
    "introduccion"
    "recomendado"
    "viaje"
    "libro";
    
}

.billetera{
    display: grid;
    width: 100%;
    border-width: 10px;
    gap: 10px;
    grid-template-areas: 
    "gastos"
    "moneda"  
    "hotel"
    "comida"  
    "movilidad"
    "datos"    
    "paseos"
    "medicos"  
    "regalos";
    align-items: center;
    
}


.equipaje{
    display: grid;
    width: 100%;
    border-width: 10px;
    gap: 10px;
    grid-template-areas: 
    "valija"
    "grupo"
    "estacion"  
    "control"
    "bultos"  
    "trasbordo";
    align-items: center;
    
}


/* sigo con mobil first  de 800 - 1024*/
@media (min-width: 800px){

    p{
    margin: 35px 35px;
    }

    .paisaje{
        margin-top: 20px;
        height: 400px;
        width: 500px;
    }

    .listado{
    background-color: white;
    margin: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    }

/* en la página ppal acomodo en un costado links recomendados */
.grilla{
    display: grid;
    grid-template-columns: 70% 25%;
    width: 100%;
    gap: 10px;
    margin: 10px 10px;
    grid-template-areas: 
    "introduccion   recomendado"
    "viaje          recomendado"
    "libro          recomendado";
    
}

.billetera{
    display: grid;
    width: 100%;
    margin: 20px 30px;
    gap: 20px;
    grid-template-columns: 45% 45%;
    grid-template-areas: 
    "gastos   gastos"
    "moneda   hotel"
    "comida   movilidad"
    "datos    paseos"
    "medicos  regalos";
    align-items: stretch;
    
}

.equipaje{
    display: grid;
    width: 100%;
    margin: 20px 30px;
    gap: 20px;
    grid-template-columns: 45% 45%;
    grid-template-areas: 
    "valija     valija"
    "grupo      estacion"
    "control    bultos"
    "trasbordo  trasbordo";
    align-items: stretch;
    
}

.texto{
    margin: 20px;
    
}
}
